@font-face {
  font-family: "Space Mono";
  font-weight: 700;
  src: local("Space Mono bold"), url("../ASSETS/typeface/Space_Mono/SpaceMono-Bold.woff") format("woff"), url("../ASSETS/typeface/Space_Mono/SpaceMono-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Lexend Deca";
  font-weight: 400;
  src: local("Lexend Deca regular"), url("../ASSETS/typeface/Lexend_Deca/LexendDeca-Regular.woff") format("woff"), url("../ASSETS/typeface/Lexend_Deca/LexendDeca-Regular.woff2") format("woff2");
}
h1 {
  font-size: clamp(2.5rem, 8vw + 0rem, 3.5rem);
  line-height: 100%;
  letter-spacing: -0.15625rem;
}

h2 {
  font-size: clamp(2rem, 8vw - 0.5rem, 3rem);
  line-height: 100%;
  letter-spacing: -0.13375rem;
}

h3 {
  font-size: clamp(1.5rem, -0.3727rem + 5.9925vw, 2.5rem);
  line-height: 120%;
  letter-spacing: -0.111875rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 120%;
  letter-spacing: -0.066875rem;
}

.h4-big {
  font-size: clamp(1.5rem, -0.3727rem + 5.9925vw, 2.5rem);
}

.h4-small {
  font-size: clamp(1.125rem, 0.4228rem + 2.2472vw, 1.5rem);
}

h1, h2, h3, h4 {
  font-family: "Space Mono", sans-serif;
}

p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-family: "Lexend Deca", sans-serif;
}

@media (width < 767px) {
  h1 {
    letter-spacing: -0.111875rem;
  }
  h2 {
    letter-spacing: -0.089375rem;
  }
  h3 {
    letter-spacing: -0.066875rem;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd, ul, li, button, input {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  display: block;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  position: relative;
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  text-align: center;
  color: rgb(147, 156, 170);
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: auto;
  font-family: "Space Mono", sans-serif;
  color: rgb(73, 85, 103);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

dialog {
  border: none;
  padding: 0;
  margin: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

picture img {
  width: 100%;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition-duration: 0s !important;
  }
}
.ff-mono {
  font-family: "Space Mono", sans-serif;
}

.ff-deca {
  font-family: "Lexend Deca", sans-serif;
}

.white-txt {
  color: rgb(255, 255, 255);
}

.bg-white {
  background-color: rgb(255, 255, 255);
}

.txt-accent {
  color: rgb(252, 183, 43);
}

.bg-accent {
  background-color: rgb(252, 183, 43);
}

.bg-light-accent {
  background-color: rgb(255, 244, 223);
}

.txt-body {
  color: rgb(147, 156, 170);
}

.title {
  color: rgb(73, 85, 103);
}

.bg-title {
  background-color: rgb(73, 85, 103);
}

.bg-tab {
  background-color: rgb(242, 245, 249);
}

.bg-decoration {
  background-color: rgb(229, 236, 244);
}

.bg-tab-city {
  background-color: rgb(255, 244, 223);
}

.nav-menu {
  background-color: rgb(51, 58, 68);
}

.to-circle {
  border-radius: 100vmax;
}

.content {
  max-width: 69.125rem;
  margin-inline: auto;
}

.cta {
  color: rgb(255, 255, 255);
  background-color: rgb(252, 183, 43);
  padding: 0.875rem 2.6875rem;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  font-family: "Space Mono", sans-serif;
  text-wrap: nowrap;
  cursor: pointer;
}
.cta:hover {
  border-color: rgb(252, 183, 43);
  background-color: transparent;
  color: rgb(252, 183, 43);
}

@media (width < 767px) {
  .grey-line {
    display: none;
  }
}

.topnav__item a,
.footer__item a {
  transition: all 0.3s ease;
}
.topnav__item a:hover,
.footer__item a:hover {
  color: rgb(252, 183, 43);
}

.social-icon,
.social-icon path {
  transition: all 0.3s ease;
}
.social-icon:hover path,
.social-icon path:hover path {
  fill: rgb(255, 255, 255);
}

.yellow-circle-numb {
  background-color: rgb(252, 183, 43);
  color: rgb(73, 85, 103);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

@media (width < 767px) {
  .circle {
    display: none;
  }
  .circle-hero {
    display: none;
  }
}
.arrow {
  position: absolute;
  z-index: 5;
}

/*screen-readers only*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

body {
  position: relative;
}

.skip-btn {
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
  position: absolute;
  top: 1rem;
  left: 2rem;
  transform: translateY(-150%);
  z-index: 100;
  background-color: rgb(73, 85, 103);
  color: rgb(255, 255, 255);
}
.skip-btn:focus {
  transform: translateY(0);
}

.intro-section {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
}
.intro-section img:not(.circle-hero) {
  position: absolute;
  inset: 0;
  z-index: -1;
}
.intro-section div {
  margin-block: clamp(3.75rem, 6vw + 2.25rem, 4.5rem);
  max-width: 69.125rem;
  width: 100%;
}
.intro-section .circle-hero {
  position: absolute;
  bottom: 4.25rem;
  right: -2rem;
}
@media (width >= 767px) {
  .intro-section {
    justify-content: start;
    padding-inline-start: clamp(6.063rem, 40vw - 14.688rem, 10.313rem);
  }
}

.wrapper-mid {
  padding: 4.5rem clamp(2rem, 102.308vw - 42.76rem, 10.313rem) 7.5rem;
  overflow: hidden;
}
@media (width >= 767px) and (width < 900px) {
  .wrapper-mid {
    padding-inline: 2.5rem;
    padding-block: 9rem 7.5rem;
  }
}
@media (width > 900px) {
  .wrapper-mid {
    padding-block: 7.5rem 6rem;
  }
}

.big-circle {
  gap: 7.5rem;
}
.big-circle__item {
  position: relative;
}
.big-circle .first-about {
  transform: scale(2);
  top: 10rem;
  left: 50%;
}
@media (width < 767px) {
  .big-circle .s-about {
    top: 0.5rem;
    transform: scale(1.3);
    left: -35%;
  }
}
@media (width > 767px) {
  .big-circle .first-about {
    transform: scale(1.8);
    top: 17rem;
    left: 8%;
  }
}
@media (width > 1200px) {
  .big-circle .first-about {
    transform: scale(1.1);
    top: 15rem;
    left: 48%;
  }
}

.small-circles {
  padding-block: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: clamp(4rem, 20.5vw - 2.406rem, 6.563rem);
}
@media (width < 767px) {
  .small-circles {
    padding-block-end: 9.0625rem;
  }
}
.small-circles .small-circle {
  width: 15rem;
}
.small-circles__items {
  display: grid;
  gap: 3.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 21.5rem), 1fr));
}
.small-circles__item, .small-circles__item > :first-child {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.small-circles__item h4 {
  margin-block: clamp(4rem, 11.5vw + 0.406rem, 5.438rem) 1.6875rem;
}
.small-circles__item p {
  max-width: 50ch;
}
@media (width > 900px) {
  .small-circles__items {
    gap: 1.875rem;
  }
  .small-circles p {
    max-width: 40ch;
  }
}
.small-circles .yellow-circle-numb {
  position: absolute;
  bottom: -3rem;
}

.faq {
  color: rgb(73, 85, 103);
}
.faq button {
  color: rgb(73, 85, 103);
  text-align: left;
}
.faq h2 {
  margin-block-end: clamp(3rem, 8vw + 0.5rem, 4rem);
}
.faq .chevron {
  transition: all 0.3s ease;
}
.faq .accordion .first-section {
  margin-block-end: clamp(3rem, 8vw + 0.5rem, 4rem);
}
.faq .accordion__block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), auto));
}
@media (width > 1200px) {
  .faq .accordion__block > div {
    min-width: 45.625rem;
  }
}
.faq .accordion__block > h3 {
  height: fit-content;
  width: fit-content;
}
.faq .accordion__block > div > div:not(:last-child) {
  margin-block-end: 1rem;
}
@media (width >= 767px) and (width < 900px) {
  .faq .accordion__block > div > div:not(:last-child) {
    margin-block-end: 1.5rem;
  }
}
@media (width < 1200px) {
  .faq .accordion__block > h3 {
    margin-block-end: 2rem;
  }
}
.faq .accordion__panel {
  text-align: left;
  padding: 2rem 1.75rem 2rem 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.faq .accordion__panel:hover {
  background-color: rgb(255, 244, 223);
}
.faq .accordion__panel * {
  cursor: pointer;
}
.faq .accordion__panel > :first-child {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-block-end: 1.5rem;
  transition: all 0.3s ease;
}
.faq .accordion__panel > :first-child[data-open=true] {
  margin-block-end: 0;
}
.faq .accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}
.faq .accordion__content[aria-hidden=false] {
  grid-template-rows: 1fr;
}
.faq .accordion__content > div {
  overflow: hidden;
}

/*# sourceMappingURL=about.css.map */
