@use 'style' as *;

.wrapper-small{
  padding: clamp(4.5rem, 19.2vw - 1.5rem, 7.5rem) clamp(2rem, 100vw - 45.938rem, 10.313rem);
  @media (width >= 767px) and (width < 900px){
    padding-block-start: $fs-144;
    padding-inline: $fs-40;
  }
}

.map{
  @media (width >= 767px) {
    &__city{
      display: none;
    }
  }

  &__image{
    margin-block-end: clamp(4rem, 80vw - 37.5rem, 7.5rem);
  }

  &__city{
    font-size: $fs-24;
    margin-block: $fs-40 $fs-72;
      & > div{
        padding-block: 1.375rem;
      }
      & > div:not(:last-child){
        margin-block-end: $fs-16;
      }
  }

  &__text{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 23rem), auto));
    gap: clamp(2rem, 4vw + 0.75rem, 2.5rem);
    place-items: center;
    @media (width > 1200px){
      gap: 0;
      text-align: left;
       h2{
        max-width: 12ch;
       }
       p{
        width: 27.8125rem;
        margin-inline-start: 4.625rem;
       }
       button{
        justify-self: end;
      }
    }
      
  }
}