//Typefaces
@font-face{
  font-family: 'Space Mono';
  font-weight: 700;
  src: local('Space Mono bold'), 
       url('../ASSETS/typeface/Space_Mono/SpaceMono-Bold.woff') format('woff'),
       url('../ASSETS/typeface/Space_Mono/SpaceMono-Bold.woff2') format('woff2');
}

@font-face{
  font-family: 'Lexend Deca';
  font-weight: 400;
  src: local('Lexend Deca regular'), 
       url('../ASSETS/typeface/Lexend_Deca/LexendDeca-Regular.woff') format('woff'),
       url('../ASSETS/typeface/Lexend_Deca/LexendDeca-Regular.woff2') format('woff2');
}


h1{
  font-size:clamp(2.5rem, 8vw + 0rem, 3.5rem);
  line-height: 100%;
  letter-spacing: -0.15625rem;
}

h2{
  font-size: clamp(2rem, 8vw - 0.5rem, 3rem);
  line-height: 100%;
  letter-spacing: -0.13375rem;
}

h3{
  font-size: clamp(1.5rem, -0.3727rem + 5.9925vw, 2.5rem);
  line-height: 120%;
  letter-spacing: -0.111875rem;
}

h4{
  font-size: 1.5rem;
  line-height: 120%;
  letter-spacing: -0.066875rem;
}

.h4-big{
  font-size: clamp(1.5rem, -0.3727rem + 5.9925vw, 2.5rem);
}

.h4-small{
  font-size: clamp(1.125rem, 0.4228rem + 2.2472vw, 1.5rem);
}

h1,h2,h3,h4{
  font-family: 'Space Mono', sans-serif;
}

p{
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-family: 'Lexend Deca', sans-serif;
}

@media (width < 767px) {
  h1{
    letter-spacing: -0.111875rem;
  }

  h2{
    letter-spacing: -0.089375rem;
  }

  h3{
    letter-spacing: -0.066875rem;
  }
}